<body style="font-family: calibri, arial, sans-serif;"><h1>Welcome!</h1>

<p>Here you'll find some quick hacks for Online Territory Manager.</p>

<p>To use, read the contents of the <a href="/README.md">README</a>.</p>
<hr/>

</body>