.overlay { 
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	background-color: rgba(0, 0, 0, 0.6); 
	z-index: 100000; 
	display: block;
} 

.centered a { 
	color: black;
	text-decoration: none; 
} 

.centered { 
	position: relative; 
	top: 50%; 
	left: 50%; 
	width: 500px; 
	margin-left: -250px; 
	padding: 15px; 
	height: 200px; 
	margin-top: -100px; 
	background-color: #fff; 
	z-index: 10000; 
	color: #555; 
	display: block; 
	border-radius: 10px 10px 10px 10px; 
	border: 0px solid #000000; 
}

#colLinks {
	cursor: pointer;
}
@media screen {
	#header h1 {
		padding: 13px 0 5px 15px !important; 
	}
}