@media print {
#map-frame {
    display:none !important;
  }
}

#printFieldContainers {
    float: right; 
    font-size: 11px; 
    padding-top: 3px;
}

.printField {
    padding-left: 5px;
    padding-bottom: 2px;
    margin-top: 0;
    border: 0px;
    border-bottom: 1pt solid black;
    font-size: 13px;
    height: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}

#publisherField {
    width: 175px;
    margin-right: 10px;
}

#dueDateField {
    width: 135px;
}